<!DOCTYPE html>
<html lang="en" xmlns:border-collapse="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>
<table border 1px solid black border-collapse: collapse>
    <tr>
        <th>Id</th>
        <th>Reader Id</th>
        <th>Book Id</th>
        <th>Issue at</th>
        <th>Returned at</th>
    </tr>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.getId()}"></td>
        <td th:text="${issue.getIdReader()}"></td>
        <td th:text="${issue.getIdBook()}"></td>
        <td th:text="${issue.getIssued_at()}"></td>
        <td th:text="${issue.getReturned_at()}"></td>
    </tr>
</table>

</body>
</html>